@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

* {
    font-family: "IBM Plex Sans","Helvetica Neue",Arial,sans-serif;
}

h1 {
  font-size: 3.75em;
  color: #333;
  font-weight: 700;
  margin-bottom: 25px;
  line-height: 1.2em;
}
h2{
    font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    font-size: 1.625em;
    color: #666;
}

.color-primario {
  color: #0289cb;
  padding: 0 25px 0 0;
  font-size: 1.125em;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
  margin: 0 0 15px 0 !important;
  display: inline-block;
  text-transform: uppercase;
}
.margen-hacia-la-derecha {
  color: #0289cb;
  font-size: 1.125em;
  font-weight: 700;
  margin-bottom: 15px !important;
  text-transform: capitalize;
  display: inline-block;
}
.tamañoImagen {
  width: 50%;
}
