.azul{
    color: rgb(0, 0, 255);
}
.celeste{
    color: rgb(12, 183, 242);
}
.verde{
    color: rgb(0, 128, 0);
}
.amarillo{
    color: rgb(255, 255, 0);
}
.naranja{
    color: rgb(255, 165, 0);
}
.rojo{
    color: rgb(255, 0, 0);
}