@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
hr {
  border-top: 1px solid lightgrey;
}
.container {
  background-color: #e4f1f5;
  width: 100vw;
  height: 100vh;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 50px;
}
.displayflex {
  display: flex;
  flex-direction: row;
}
.displayflexcolumna {
  display: flex;
  flex-direction: column;
}
.multipleCol{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  height: 170px;
}
.spacebetween {
  justify-content: space-between;
}
.boton {
  background-color: red;
  color: white;
  border: 1px solid red;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}
.boton:hover {
  background-color: white;
  color: red;
  border: 1px solid #ec0000;
  border-radius: 50px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
  transition: 0.4s;
}
.fuente {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}
.fuente-h1 {
  font-weight: 400;
}
.fuente-boton {
  font-weight: 700;
}
.margen-iz-boton {
  margin-left: 20px;
}
.margen-sup {
  margin-top: 20px;
}
h1 {
  display: block;
  font-weight: 400;
}
.card {
  background-color: ghostwhite;
  border: 1px solid gray;
  border-radius: 15px;
  width: 20%;
  height: 170px;
}
