@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  background-color: #212121;
  color: #fafafa;
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  color: #212121;
  font-size: 1.2rem;
  background-color: #ecf0e6;
  text-align: left;
}
p {
  color: #212121;
  background-color: #ecf0e6;
}
.date {
  font-size: small;
  background-color: #ecf0e6;
}
.card {
  text-align: right;
  background-color: #ecf0e6;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  width: 200px;
  border: 1px solid black;
  border-radius: 30px;
}
.container{
  display: flex;
  justify-content: space-around;
}
.titles{
  margin-left: 40px;
}
.ingreso{
  color: green;
}
.egreso{
  color: red;
}
