@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Oswald", sans-serif;
}
.container{
    width: 50%;
    height: 100vh;
    padding: 15px 15px 15px 15px;
}
.parrafo{
    margin-left: 40px;
}
a{
    text-decoration:none
}
h3 a{
    color: red;
    font-size: medium;
}
.date{
    font-size: small;
    color: lightgray;
}
.reacciones{
    text-align: right;
    margin-right: 40px;

}
span{
    margin-left: 10px;
    padding: 5px 5px 5px 5px;
    background-color: lightgrey;
    border-radius: 15px;
}

